/* :root {
    --body-bg-color-bacground: #0B2737;
} */

* {
    font-family: 'Poppins', sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
}

body {
    background-color: var(--body-bg-color-bacground);
}

.col-img {
    position: relative;
}

.col-img>div {

    width: 300px;
    height: 270px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: -10px -10px 40px 40px #fff, 20px 20px 40px 40px #fff;
    position: absolute;
    opacity: 0.3;
    filter: blur(60px);
}

.col-img>a {
    z-index: 1000;
}

.icon {
    font-size: 48px;
}

.sheila:hover {
    color: #0d6efd !important;

}

.link:hover {
    background-color: #ffffff0c;
}

.iframe {
    width: 100%;
    height: 100%;

}

.img-1 {
    width: 500px;
    max-width: 100%;
}
iframe{
    width:560px;
    height:315px;
    max-width: 100%;
    max-height: 100%;

}
@media screen and (min-width: 1150px) {}